body {
    background-color: blue;
    color: white;
    font-family: arial;
}
#loginform {
    width: 200px;
    border-style: groove;
    border-width:medium;
    margin: 10px;
    padding: 10px;
    float: left;
}

#registerlogform {
    float: right;
    height: 0px;
}

#logout {
    float: right;
    height: 0px;
}

#menu {
    float:left;
}

#button {
    display: inline-block;
    padding: 1em;
    background-color: black;
    text-decoration: none;
    color: white;
}

.otherButton {
    visibility: hidden;
}

#sellCodeButton {
    visibility: visible;
}

.extraPowerUpButton {
    visibility: visible;
}
